body {
    background-color: #2f323a;
}

header {
    padding: 20px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    color: black;
    text-align: center;
}

#search-box {
    display: flex;
    flex-direction: column;
    align-content: space-between;
    background-color: #f4998d;
    padding: 5px;
    height: 300px;
    width: 60%;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 5px;
}

#search,
#choices,
#btn {
    width: 75%;
    font-size: large;
    padding: 10px;
    margin: 3px;
}

#btn {
    background-color: #f44e3f;
    border-radius: 5px;
}

#btn:hover {}